# Dependency directories
node_modules

# Testing coverage
coverage

# MacOS files
.DS_Store

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local